@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        @* ⬇️ 認証時の表示内容 *@
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4 auth">
                    <LoginDisplay />
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        @* ⬇️ 未認証時の表示内容 *@
        <div>
            @Body
        </div>
    </NotAuthorized>
</AuthorizeView>
